body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #34a2c4;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    margin: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #34a2c4;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #34a2c4;
}


#appointmentForm input[type="number"],
#appointmentForm select,
#appointmentForm input[type="date"] {
    width: 150px; 
    padding: 8px; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#appointmentForm button {
    width: auto;
    padding: 10px 20px;
    background-color: #34a2c4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#appointmentForm button:hover {
    background-color: #34a2c4;
}

table select {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
}

table select:hover {
    background-color: #e9e9e9;
}

.doctor-list {
    display: flex;
    justify-content: space-around;
}

.doctor {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #34a2c4;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
    bottom: 0;
}